*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-image:url(downl.jfif);
	background-repeat: no-repeat;
	background-size: 1550px 700px;
}
.hero{
    background-position:center;
}
.form-box{
	width: 400px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff; /*white color box creating in meidal*/
	padding: 5px;
	border:0;
	border-radius: 30px;
	overflow: hidden;  /*R side of body register form will be display  hide */
}

.button-box{          /*button-box,toggle-btn,btn are for only button property*/
	width: 200px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius:30px;
}
.toggle-btn{          
	padding: 10px 20px;
	cursor: pointer;
	background: transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{             /* button property*/
	top: 0;
	left: 0;
	position: absolute;
	width: 100px;
	height: 35px;
	background:linear-gradient(45deg, red, blue);
	border-radius: 30px;
	transition: .5s;
}
.social-icons{
	         text-align: center;
			}

.fa{
	padding: 20px;
	font-size: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	 border-radius: 50%;
	 margin: 0 12px;

}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google{
 background: #a4c639;
  color: white;
}
.input-grp{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 120%;
	padding: 10px 0;
	margin: 5px 10px;
	border-left:0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 70%;
	padding: 10px 30px;
	margin: 10px auto;
	cursor: pointer;
	display: block;
	background: linear-gradient(45deg, red, blue);
	border:0;
	outline: none;
	border-radius: 30px;
}
.checkbox{
	margin: 30px 10px 30px 0;
}
#Login{
	left: 50px;
}
#Register{
	left: 450px;
}